*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/** Login Styles **/

.welcomeInfo{
  margin-top: 10rem;
  text-align: center;
}

.welcomeInfo h1{
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
}

.welcomeInfo span{
  font-size: 2.5rem;
  font-weight: 800;
  color: black;
}

.welcomeInfo button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0 auto;
  border: 2px solid black;
  border-radius: 3rem;
  background-color: black;
  color: white;
  padding: 1rem;
  transition: 0.3s ease;
  cursor: pointer;
  font-weight: 600;
}

.welcomeInfo button i{
  font-size: 2rem;
  margin-right: 10px;
}

.welcomeInfo button:hover{
  transform: scale(1.05);
}

/** Home styles **/

.home{
  width: 100%;
  text-align: center;
}

.home h1{
  font-size: 2.5rem;
  color: white;
  margin-top: 4rem;
}

.home img{
  width: 4%;
  height: auto;
}

.home p{
  color: white;
  margin-top: 2rem;
  font-size: 1.2rem;
}